					/*
	╔═════════════╗
	║   General   ║
	╚═════════════╝	*/
*
{
	margin: 0 auto;
}
html
{
	min-width:			640px;
	background-image:	url("../Imgs/Fondo.jpg");
	box-shadow:			inset 10px 20px 10em rgb(255,255,255);
}

						/*
	╔════════════════╗
	║   Contenedor   ║
	╚════════════════╝	*/
.contenedor
{
	/*
	float:				left;
	margin-left:		10%;
	padding:			5% 0%;
	width:				80%;
	min-width:			530px;
	*/
	border-radius:		10% 10% 5% 5%;

	background-color:	blue;
	background:			linear-gradient(135deg, rgba(224,255,255,1) 75%, rgba(0,0,0,0));
	box-shadow:			inset -10px -10px 50px #8BD4F2, 
							inset 10px 10px 50px #8BD4F2, 
							10px 10px 50px #8BD4F2;
	margin-bottom:		10px;
}

					/*
	╔═══════════╗
	║   Tabla   ║
	╚═══════════╝	*/
table
{
	font-family:		Century-Ghotic;
	color: 				black;
	background:			linear-gradient(135deg, #383838, #525252);
	
	border-collapse:	collapse;
	border-radius:		0% 0% 6% 6%;
	text-align:			center;
	width:				100%;
	
	min-width:			440px;
	max-width:			75%;
}
tr td:first-child{
	font-family:	Magneto;
	color:	rgba(0, 0, 32, 0.9);
}
caption
{
	text-shadow:		0px 0px 0px white, 0 0 1em #82C7E3;
	font-family:		Magneto;
	color:				white;
	background:			linear-gradient(135deg, black, #1a1a1a);
	
	font-size:			1.5em;
	border-radius:		50% 50% 0% 0%;
	border-bottom:		solid 1px #5E5E5E;
}
.bordeExterior
{
	border-right:		solid 1px #444444;
}
th
{
	font-family:		OCR A;
	color:				whitesmoke;
	font-size:			1.05em;
}

								/*
	╔════════════════════════╗
	║   Tabla → Especiales   ║
	╚════════════════════════╝	*/
tr:nth-child(2n) td
{
	background:			linear-gradient(135deg, #82C7E3, #8BD4F2);
}
tr:nth-child(2n+1) td
{
	background:			linear-gradient(135deg, #A9D3E0, #B4E1F0);
}
tr:nth-child(2n) td:hover, tr:nth-child(2n+1) td:hover
{
	background:			linear-gradient(135deg, #D5F2F2, #E0FFFF);
}

/* Último borde horiontal td */
tr:nth-child(7n) td
{
	border-bottom:		solid 1px black;
}

/* Primer borde horiontal td */
tr:nth-child(99n-98) td
{
	border-top:			solid 1px black;
}
/* Borde vertical td */
td:nth-child(1n)
{
	border-left:		solid 1px black;
}
.recreo
{
	border-top:			solid 1px black;
	border-bottom:		solid 1px black;
}
.finClases
{
	font-family:		Segoe Print, Comic Sans MS;
	background:			linear-gradient(135deg, #5E5E5E, #6B6B6B);
	border-radius:		5% 25%;
	padding:			0% 5%;
	color:				whitesmoke;
}

th, td
{
	padding:			3px;
}
/* Espaciado de letras para Recreo */
table tr td span
{
	letter-spacing:		2.5em;
}
.descansar
{
	margin-top:			5%;
}

					/*
	╔══════════╗
	║   Menu   ║
	╚══════════╝	*/
.menu
{
	float:				left;
	width:				100%;
	margin-bottom:		3%;
	text-align:			center;

	background:			linear-gradient(135deg, #1F1F1F, #2B2B2B);
}
.menuIcono
{
	float:				left;
	margin:				0px;
	width:				25%;
	line-height:		2em;
	font-size:			2.0em;
}
.menuMañana
{
	float:				left;
	margin:				0px;
	width:				25%;
	line-height:		4em;
}
.menuTarde
{
	float:				left;
	margin:				0px;
	width:				25%;
	line-height:		4em;
}
.menuCompleto
{
	float:				left;
	margin:				0px;
	width:				25%;
	line-height:		4em;
}
.menu a
{
	text-shadow:		1px 1px 3px white,
							0 0 2em darkblue,
							0 0 0.2em blue;
	text-decoration:	none;
	color:				#7DF9FF;
	
	cursor: pointer
}

					/*
	╔═════════════╗
	║   Párrafo   ║
	╚═════════════╝	*/
p
{
	line-height:		4em;
	text-shadow:		1px 1px 3px white, 0 0 2em darkblue, 0 0 0.2em blue;
	text-align:			center;
}

					/*
	╔═══════════╗
	║   Error   ║
	╚═══════════╝	*/
.error
{
	font-weight:		bold;
	color:				red;
}
.errorPS
{
	/* P y S significa Problema y Solución */
	font-weight:		bold;
	color:				red;
}

					/*
	╔═══════════╗
	║   Botón   ║
	╚═══════════╝	*/
button
{
	color:				whitesmoke;
	border:				none;
	width:				10%;
	height:				5%;
	border-radius:		10% 10% 5% 5%;
	text-shadow:		1px 1px 3px white,
							0 0 2em darkblue,
							0 0 0.2em blue;
	box-shadow:			inset -5px -5px 25px #8BD4F2, 
							inset 5px 5px 25px #8BD4F2, 
							5px 5px 25px #8BD4F2;
	
	background-color:	blue;
	margin-left:		45%;
	
	cursor: pointer
}
button:active
{
	background-color:	#8BD4F2;
}

					/*
	╔═══════════╗
	║   Nieve   ║
	╚═══════════╝	*/
@keyframes snow
{
	0%		{background-position: 0px 	0px, 	0px 0px, 	0px 0px;}
	100%	{background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow
{
	0%		{background-position: 0px 0px, 		0px 0px, 	0px 0px;}
	100%	{background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow
{
	0%		{background-position: 0px 0px, 		0px 0px,	0px 0px;}
	100%	{background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes snow
{
	0%		{background-position: 0px 0px,		0px 0px,	0px 0px;}
	100%	{background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

body
{
	background-image: url("../Imgs/nieve.png"), url("../Imgs/nieve3.png"), url("../Imgs/nieve2.png");
	animation: snow 10s linear infinite;
}