*
{
	margin: 0 auto;
	text-align: center;
}
h1{
	color: rgba(0,92,0,0.6);
	border-bottom: double 3px rgba(0,32,0,0.55);
}
div, p, h2{
	font-family: Calibri;
}
h2{
	margin-top: 15px;
}
input{
	display: block;
}